{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique française{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue {{app.user.firstname}} dans votre compte.<br>
    C'est dans cette espace que vous allez pouvoir gérer votre vos informations
    <hr>
    <a href="{{ path('account_password')}}">modifier mon mot de passe</a>   <br>
    -ajouter mes adresses<br>
    -Mes commandes<br>
    <br>


{% endblock %}
